@media (max-width: 575px) {
    .settings-page {
        margin-right: 0;
        margin-left: 0;
    }
}

.settings-page .ant-btn-primary {
    background: var(--primary-light-6);
    border: var(--border-primary);
}
